アクセス
<div class="sennsyu">
    <div class="accessyokohamastudium">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d6500.934647696403!2d139.6401002!3d35.4432233!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x60185cf00a02a6ab%3A0xeeb4da826f10076c!2z5qiq5rWc44K544K_44K444Ki44Og!5e0!3m2!1sja!2sjp!4v1723613963872!5m2!1sja!2sjp" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        <%=image_tag '横浜スタジアム　アクセス.jpg', size:"655×650" %><br>
        <br>〒231-0022<br>
        <br>神奈川県横浜市中区横浜公園<br>
        <br>高速神奈川1号横羽線「横浜公園」出口下車すぐ<br>
        <br>高速神奈川3号狩場線「阪東橋」出口下車 5分<br>
    </div>
</div>