<div class = "schedule">
    <div class = "schedule2">
        <br>9月10日（火）　vs阪神タイガース　阪神甲子園球場　18:00</br>
        <br>9月11日（水）　vs阪神タイガース　阪神甲子園球場　18:00</br>
        <br>9月12日（木）　vs阪神タイガース　阪神甲子園球場　18:00</br>
        <br>9月13日（金）　vs中日ドラゴンズ　横浜スタジアム　18:00</br>
        <br>9月14日（土）　vs中日ドラゴンズ　横浜スタジアム　14:00</br>
        <br>9月15日（日）　vs広島東洋カープ　マツダzoom-zoomスタジアム　18:00</br>
        <br>9月16日（月）　vs広島東洋カープ　マツダzoom-zoomスタジアム　14:00</br>
        <br>9月18日（水）　vs東京読売ジャイアンツ　東京ドーム　18:00</br>
        <br>9月19日（木）　vs東京読売ジャイアンツ　東京ドーム　18:00</br>
        <br>9月20日（金）　vs阪神タイガース　横浜スタジアム　18:00</br>
        <br>9月21日（土）　vs阪神タイガース　横浜スタジアム　14:00</br>
        <br>9月22日（日）　vs東京ヤクルトスワローズ　横浜スタジアム　14:00</br>
        <br>9月23日（月）　vs東京ヤクルトスワローズ　横浜スタジアム　14:00</br>
        <br>9月25日（水）　vs東京読売ジャイアンツ　横浜スタジアム　18:00</br>
        <br>9月26日（木）　vs東京読売ジャイアンツ　横浜スタジアム　18:00</br>
        <br>9月29日（日）　vs阪神タイガース　阪神甲子園球場　18:00</br>
        <br>10月1日（火）　vs広島東洋カープ　横浜スタジアム　18:00</br>
        <br>10月2日（水）　vs東京読売ジャイアンツ　東京ドーム　18:00</br>
        <br>10月3日（木）　vs広島東洋カープ　横浜スタジアム　18:00</br>
        <br>10月4日（金）　vs中日ドラゴンズ　バンテリンドーム　18:00</br>
        <br>10月5日（土）　vs中日ドラゴンズ　バンテリンドーム　14:00</br>
        <br>10月6日（日）　vs中日ドラゴンズ　バンテリンドーム　13:30</br>
    </div>
</div>