<div class="ab"> 

    球団歌<br>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/1ij4QIPWg1I?si=5AmhDzGW_xuJH5Gi" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>

    <br>
    <h2>熱き星たちよ</h2>
    </br>


    <br>作詞：秋谷 銀四郎</br>
    作曲：朝倉 紀幸
    <br></br>
    <br>Oh Oh Wow Wow DeNAベイスターズ</br>
    <br>燃える星たちよ Let's Go !</br>
    <br>Oh Oh Wow Wow DeNAベイスターズ</br>
    <br>夢を追いかけろ</br>
    <br>GO！DeNA ベイスターズ ！</br>
    <br>闘うナインたちの 輝く絆が</br>
    <br>星座をつなぐよ</br>
    <br>スクラムひとつにして 情熱重ねる</br>
    <br>勝利を求めて</br>
    <br>栄光へ届く虹を</br>
    <br>描き出す</br>
    <br>固い チームワーク</br>
    <br>Oh Oh Wow Wow DeNAベイスターズ</br>
    <br>熱き星たちよ Let's Go !</br>
    <br>Oh Oh Wow Wow いつでもWinning Stars 明日を信じて</br>
    <br>YOKOHAMA！ Go Go BAYSTARS!!</br>
    <br>YOKOHAMA！ Go Go Let's Go!!</br>
    <br>バットに込めたファイト 歓声背にして</br>
    <br>飛び込めベースへ</br>
    <br>友情 胸に抱いて 白球追いかけ</br>
    <br>アーチでこたえる</br>
    <br>スタジアム渡る風に</br>
    <br>誓いあう</br>
    <br>永遠（とわ）の スピリッツ</br>
    <br>Oh Oh Wow Wow DeNAベイスターズ 燃える星たちよ Let's Go！</br>
    <br>Oh Oh Wow Wow いつでもWinning Stars 夢を追いかけろ</br>
    <br>Oh Oh Wow Wow DeNAベイスターズ 熱き星たちよ　Let's Go！</br>
    <br>Oh Oh Wow Wow DeNAベイスターズ 明日を信じて</br>
    <br>I LOVE YOKOHAMA！ Go！ DeNA BAYSTARS！</br>
</div>