.a{
 text-align: center; 
 margin: 10px 10px ;  
}
.b{
 display: flex;
 flex-wrap: wrap;
 margin-left: 40px;

}
.sennsyu{
    background-image: url("ベイスターズ　ホーム　ユニ　模様.jpg");
    background-repeat: no-repeat;
    background-size: 1250px 5350px;
    background-blend-mode: overlay;
    background-color: rgba(#fff, 0.4);
}